html, body, .wrap{
	padding: 0;
	margin: 0;
	border: 0;
}

.wrap{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

#ui{
	height: 15rem;
	width: 100%;
}

#game{
	flex-grow: 1;
	width: 100%;
}

.disabled{
	display: none;
}